*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}
.box{
    width: 1500px;
    border: 1px solid black;
    height: 150px;
}
img{
    float: right;
    width: 100px;
    height: 100;
}